.history
.vscode
__pycache__/
/src/app/__pycache__/
/src/tests/__pycache__/
.pytest_cache

.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
