asyncpg
astroid
attrs
certifi
chardet
Click
databases[postgresql]
fastapi
h11
httptools
httpx
idna
isort
lazy-object-proxy
mccabe
more-itertools
packaging
pluggy
psycopg2-binary
py
pydantic
pylint
pyparsing
python-dotenv
pytz=
six
SQLAlchemy
starlette
urllib3
uvicorn
uvloop
wcwidth
websockets
wrapt

#dev
pytest
requests